$brand-green: #99e8e0;
$brand-gray: #f1f1f1;
$brand-green-bg: #32b4a6;
$brand-green-darker: #32b4a7;
$brand-orange: #f26522;

$base-gutter: 15px;
$grid-columns: 10;

$screen-xs-max: 767px;
$screen-sm-min: $screen-xs-max + 1;
$screen-sm-max: 992px;
$screen-md-min: 993px;
$screen-md-max: 1199px;